<section class="font-roboto">
    <div class="md:max-w-6xl mx-auto my-12 px-4" >
        <div>
            <h2 class="text-2xlx md:text-[44px] font-semibold text-center my-10">
                Here are some of our clients
            </h2>
            <div class="md:max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-center gap-20 md:gap-24 my-16">
                <div class="">
                    <img  src="../../assets/image/client-logo-1.png" alt="client-logo-1" />
                </div>
                <div class="">
                    <img  src="../../assets/image/client-logo-2.png" alt="client-logo-2" />
                </div>
                <div class="">
                    <img  src="../../assets/image/client-logo-3.png" alt="client-logo-3" />
                </div>
                <div class="">
                    <img  src="../../assets/image/client-logo-4.png" alt="client-logo-4" />
                </div>
                <div class="">
                    <img  src="../../assets/image/client-logo-5.png" alt="client-logo-5" />
                </div>
                <div class="">
                    <img  src="../../assets/image/client-logo-6.png" alt="client-logo-6" />
                </div>
                <div class="">
                    <img  src="../../assets/image/client-logo-7.png" alt="client-logo-7" />
                </div>
            </div>
        </div>
    </div>
</section>
