<section class="bg-[#f2f2f2] py-20 font-roboto">
    <div class=" md:max-w-6xl mx-auto px-4">
        <div class="flex flex-col md:flex-row gap-10">
            <div class="md:w-1/2">
                <img class="w-full" src="../../assets/image/coffee-cup-edit.jpeg" alt="coffee-cup" />
            </div>
            <div class="bg-white md:w-1/2 p-8 rounded-tr-[80px]">
                <div class="flex items-center my-16">
                    <h2 class="text-bold text-[#f19a0e] text-xl w-10/12">
                        Create a Webinar in Minutes
                    </h2>
                    <div class="bg-[#f19a0e] rounded-full w-8 ">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667" style=""><use xlink:href="#svg-347e"></use></svg>                    </div>
                    </div>

                <div class="flex items-center my-16">
                    <h2 class="text-bold text-[#f19a0e] text-xl w-10/12">
                        Business Sustainability Management
                    </h2>
                    <div class="bg-[#f19a0e] rounded-full w-8 ">
                        <svg class="u-svg-link" fill="#fff" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667"><use xlink:href="#svg-347e"></use></svg>
                    </div>
                </div>

                <div class="flex items-center my-16">
                    <h2 class="text-bold text-[#f19a0e] text-xl w-10/12">
                        Learn how to grow your business
                    </h2>
                    <div class="bg-[#f19a0e] rounded-full w-8 ">
                        <svg class="u-svg-link" fill="#fff" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667"><use xlink:href="#svg-347e"></use></svg>
                    </div>
                </div>

                <div class="flex items-center my-16">
                    <h2 class="text-bold text-[#f19a0e] text-xl w-10/12">
                        Practical tips to help you price your products
                    </h2>
                    <div class="bg-[#f19a0e] rounded-full w-8 ">
                        <svg class="u-svg-link" fill="#fff" preserveAspectRatio="xMidYMin slice" viewBox="0 0 426.66667 426.66667"><use xlink:href="#svg-347e"></use></svg>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
