<section class="font-roboto">
    <div class="max-w-full">
        <div class="md:flex">
            <div class="md:w-1/4 h-[500px] bg-cover " style="background-image: url(../../assets/image/mary-brown.jpeg);">
                <div class="w-full h-full flex items-end justify-center" style="background-color: rgba(0, 0, 0, 0.7);">
                    <div class="mb-14 text-center">
                        <div>
                            <h3 class="text-white font-bold text-[25px]">
                                Mary Brown
                            </h3>
                            <p class="font-bold text-[#f19a0e]">
                                creative leader
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 h-[500px] bg-cover" style="background-image: url(../../assets/image/nick-richmond.jpeg);">
                <div class="w-full h-full flex items-end justify-center" style="background-color: rgba(0, 0, 0, 0.7);">
                    <div class="mb-14 text-center">
                        <div>
                            <h3 class="text-white font-bold text-[25px]">
                                Nick Richmond
                            </h3>
                            <p class="font-bold text-[#f19a0e]">
                                sales manager
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 h-[500px] bg-cover" style="background-image: url(../../assets/image/nina-greenfield.jpeg);">
                <div class="w-full h-full flex items-end justify-center" style="background-color: rgba(0, 0, 0, 0.7);">
                    <div class="mb-14 text-center">
                        <div>
                            <h3 class="text-white font-bold text-[25px]">
                                Nina Greenfield
                            </h3>
                            <p class="font-bold text-[#f19a0e]">
                                top designeer
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-1/4 h-[500px] bg-cover" style="background-image: url(../../assets/image/fatima-hodge.jpg);">
                <div class="w-full h-full flex items-end justify-center" style="background-color: rgba(0, 0, 0, 0.7);">
                    <div class="mb-14 text-center">
                        <div>
                            <h3 class="text-white font-bold text-[25px]">
                                Fatima Hodge
                            </h3>
                            <p class="font-bold text-[#f19a0e]">
                                top designeer
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
