<section class="bg-[#f2f2f2] font-roboto">
    <div class="max-w-[100%] md:py-14">
        <div class="md:flex">
            <div class="w-full">
                <img class="object-fill w-fit" src="../../assets/image/photos-1.jpg" alt="orange-bg-img" />
            </div>
            <div class="w-full">
                <img class="object-fill w-fit" src="../../assets/image/photos-2.jpeg" alt="laptop" />
            </div>
            <div class="w-full">
                <img class="object-fill w-fit" src="../../assets/image/photos-3.jpg" alt="man" />
            </div>
        </div>
        <div class="md:flex">
            <div class="w-full h-96">
                <img class="w-full h-full object-cover" src="../../assets/image/photos-4.jpg" alt="glas" />
            </div>
            <div class="w-full h-96">
                <img class="w-full h-full object-cover" src="../../assets/image/photos-5.jpeg" alt="team-b&w" />
            </div>
            <div class="w-full h-96">
                <img class="w-full h-full object-cover" src="../../assets/image/photos-6.jpg" alt="headphone" />
            </div>
        </div>
    </div>

    <div class="max-w-6xl mx-auto px-10 md:px-16 pb-10 md:pb-16">
        <div class="md:flex gap-20 md:pl-8">
            <div class="md:w-1/2 ">
                <div class="my-8">
                    <h2 class="text-[40px] font-bold">
                        Affordable pricing for everyone.
                    </h2>
                    <p class="my-4 text-xl ">
                        Very simple pricing, one plan for a monthly fee. Unlimited everything, go wild, invoice to your hearts content.
                    </p>
                </div>
                <div class="flex items-center gap-4 my-3">
                    <div>
                        <svg class="u-svg-content w-[30px]" fill="#efce4a" viewBox="0 0 53.867 53.867" x="0px" y="0px" id="svg-32ba" style="font-size: 1.5em;"><polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
                    </div>
                    <div class="text-lg">
                        Free for 30 days
                    </div>
                </div>
                <div class="flex items-center gap-4">
                    <div>
                        <svg class="u-svg-content w-[30px]" fill="#efce4a" viewBox="0 0 53.867 53.867" x="0px" y="0px" id="svg-32ba" style="font-size: 1.5em;"><polygon points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "></polygon></svg>
                    </div>
                    <div class="text-lg">
                        No credit card required
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 md:pb-16 md:mt-16">
                <div class="border-b-2 border-black">
                    <span class="text-[#f19a0e] text-[34px] font-bold">
                        £
                    </span>
                    <span class="text-8xl font-semibold mx-6">
                        7.95
                    </span>
                    <p class="ml-10 mb-8">
                        per month
                    </p>
                </div>
                <p class="my-8 text-[17px]">
                    Completely free for 30 days, unlimited everything so you can truely work out if TwoCards is right for you.
                </p>
                <div>
                    <button type="button" class="py-4 px-16 bg-[#f19a0e] text-white font-semibold rounded-xl">
                        Start your 30 day free trial
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
