<section class="bg-[#f2f2f2] py-10 md:py-20 font-roboto">
    <div class="md:max-w-6xl md:mx-auto px-4">
        <div class="bg-white rounded-tr-[40px] md:px-16 py-14 flex flex-col items-center justify-center">
            <div class="">
                <svg class="u-svg-content text-[#f19a0e] w-16" fill="#f19a0e" viewBox="0 0 409.294 409.294" id="svg-ca89"><path d="m233.882 29.235v175.412h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412z"></path><path d="m0 204.647h116.941c0 64.48-52.461 116.941-116.941 116.941v58.471c96.728 0 175.412-78.684 175.412-175.412v-175.412h-175.412z"></path></svg>            
            </div>
            <p class="text-3xl md:text-[40px] font-semibold md:font-bold mt-5 pb-20  md:pb-40 text-center px-10 leading-tight">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
        
        </div>
        <div class="flex items-center justify-center mt-[-100px] md:mt-[-180px]">
            <img class="rounded-full w-48 md:w-80" src="../../assets/image/testimonials-img.jpg" alt="testimonials-img" />
        </div>
        <div class="text-center my-5">
            <p class="font-semibold text-lg md:text-2xl my-4">
                - May Hawkes, General Manager Operations -
            </p>
            <p class="md:text-lg">
                Image from <a class="text-[#f19a0e]" href="#" target="_blank"> Freepik</a>
            </p>
        </div>
    </div>
</section>
